.search {
  all: unset;
}

.search::placeholder {
  color: rgb(134, 134, 134);
  opacity: 0.7;
}

svg {
  color: rgb(134, 134, 134);
  fill: currentColor;
}

.top-nav {
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .top-nav {
    width: 100%;
  }
}
