<h1 mat-dialog-title>Trip</h1>
<div mat-dialog-content class="content">
  <mat-form-field>
    <textarea
      placeholder="Trip description"
      matInput
      [(ngModel)]="data.trip.description"
    ></textarea>
  </mat-form-field>

  <br />

  <mat-form-field>
    <mat-label>Select a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input
        [(ngModel)]="data.trip.start"
        matStartDate
        formControlName="start"
        placeholder="start date"
      />
      <input
        [(ngModel)]="data.trip.end"
        matEndDate
        formControlName="end"
        placeholder="end date"
      />
    </mat-date-range-input>

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <br />

  <mat-form-field>
    <input placeholder="Cost in USD ($)" matInput [(ngModel)]="data.cost" />
  </mat-form-field>

  <br />

  <mat-button-toggle-group
    #group="matButtonToggleGroup"
    [(ngModel)]="data.trip.tag"
  >
    <mat-button-toggle *ngFor="let opt of labelOptions" [value]="opt">
      <mat-icon [ngClass]="opt">{{
        opt === "gray" ? "check_circle" : "lens"
      }}</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div mat-dialog-actions>
  <button
    aria-label="Add or update trip"
    mat-button
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    {{ data.isNew ? "Add Trip" : "Update Trip" }}
  </button>
  <app-delete-button (delete)="deleteTrip()"></app-delete-button>
</div>
